<div class="fondos">
  <div class="container">
    <app-var-nav> </app-var-nav>
      <div class="card row">
        <div class="col s12 m8">

          <ul class="collection">
            <li class="collection-item avatar" *ngFor="let produc of productosCom">
              <img src="{{produc.img}}" alt="" class="circle" width="90px" height="100px">
              <span class="title"><b>{{produc.nombre}}</b></span>
              <p><b>Unidades: </b>{{produc.canti}} <br>
                <b>Subtotal:$ </b>{{produc.subtotal}}
              </p>
            </li>
          </ul>
        </div>

        <div class="col s12 m4">
           <p class="card-title"><b>Total: $ {{total}}</b></p>
             <a (click)="realizarCompra()" class="btn-small">Pagar</a>
             <a (click)="cancelarVenta()" class="btn-small">Cancelar</a>
        </div>
        <br>
        <br>
        <br>

    </div>
  </div>
</div>
