<div class="container ">

    <nav>
      <div class="nav-wrapper ">
        <a href="#" class="brand-logo">Tú Tienda</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><i class="material-icons">apps</i></li>
          <li><a routerLink="/compras" ><i class="material-icons">local_grocery_store</i></a></li>
          <li><a routerLink="/catalogo"><i class="material-icons">storage</i></a></li>
          <li><a routerLink="/login"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/compras"><i class="material-icons">local_grocery_store</i></a></li>
    <li><a routerLink="/catalogo"><i class="material-icons">storage</i></a></li>
    <li><a routerLink="/login"><i class="material-icons">exit_to_app</i></a></li>
  </ul>


</div>
